* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #F9F9F9;
  color: #4B4B4B;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alex Brush', cursive;
  color: #ab8742;
  font-size: 2em;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Comfortaa', sans-serif;
  background-color: #A7B48C;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #9f6273;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

input:focus {
  border-color: #A7B48C;
  outline: none;
}
